// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.field {
  padding: 12px;
  border: 1px solid #DDD;
  border-radius: 5px;
  margin: 10px;
  width: 50%;
  
}

.project_index {
	text-align:center;
	background-color:#d5c3d4;
	border:solid 1px;
}

.top-bar-section {
	float:right;
	color:white;
}

.projects_listed {
	text-align:center;
	height:300px;
	width:300px;
	background-color:#d5d080;
}

.individual_project {
	background-color:#94d58d;
	text-align:center;
}

table {
	border:1px solid;
	margin-left:auto;
	margin-right:auto;
}