<div class="editdestroy">
<% if current_user && current_user.id == @project.user_id %>
<%= link_to 'Edit', edit_project_path(@project) %>
<%= link_to 'Destroy', project_path(@project), method: :delete %> 
<% end %>
<br><br>
</div>