<!DOCTYPE html>
<html>
<head>
  <title>Crowdfunder</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <script src="//use.edgefonts.net/josefin-sans:n4,i4,n7,i7;fredoka-one.js"></script> 
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
